<div class="container clearfix">
    <h2>Work Culture</h2>
    <p>At the Illuminati Division we're driven by our love for software, design and people. We dislike insane rules that govern our work, so you wont find scheduled work hours, in-times and long meetings around the white board. We love building applications for the web and we'd like to keep it that way so we try to get rid of anything that comes in the way. We have liberal leave policies to ensure we have a break when we need one and working remotely is always an option when you are not in the mood to deal with the Mumbai traffic. Beer soothes us so beer fridays mixed with tech talks and discussions is how we roll.</p>
    <!--<hr>-->
    <div class="aboutus marb6">
        <h2>How we roll!</h2>
        <img src="img/first-mac.jpg" title="Mumbai Office" alt="Idyllic Software Mumbai Office">
        <img src="img/office-shot.jpg" title="Mumbai Office" alt="Idyllic Software Mumbai Office">
        <ol class="facts">
            <li class="clearfix">
                <strong>1</strong>
                <p>We work in small self governing teams of about 2-5.</p>
            </li>
            <li class="clearfix">
                <strong>2</strong>
                <p>Developers design the workflows and processes that work best for them for the project and adhere to those.</p>
            </li>
            <li class="clearfix">
                <strong>3</strong>
                <p>We love the tools we use. Our toolkit includes <strong>Git</strong>, <strong>Github</strong>, <strong>Pivotaltracker</strong>, <strong>Yammer</strong>, <strong>Skype</strong>, <strong>VMWare Fusion</strong> &amp; <strong>Gmail</strong>.</p>
            </li>
            <li class="clearfix">
                <strong>4</strong>
                <p>Regular calls and discussions with our clients ensure that we're always on track.</p>
            </li>
            <li class="clearfix">
                <strong>5</strong>
                <p>Frequent talks and training sessions keep us up to date on the latest in tech.</p>
            </li>                        
        </ol><!--facts-->
    </div>
    <!--<hr>-->
    <h2>We Work on Amazing Things</h2>
    <div class="things marb6 clearfix">
        <a target="_blank" href="http://www.ruby-lang.org/en/"><img src="img/ruby.png" title="Ruby" alt="Ruby"></a>
        <a target="_blank" href="http://rubyonrails.org/"><img src="img/rails.png" title="Ruby on Rails" alt="Ruby on Rails"></a>
        <a target="_blank" href="http://jquery.com/"><img src="img/jquery.png" title="jQuery" alt="jQuery"></a>
        <a target="_blank" href="http://www.w3.org/html/logo/"><img src="img/html5.png" title="HTML5" alt="HTML5"></a>
        <a target="_blank" href="http://www.w3.org/TR/2001/WD-css3-roadmap-20010523/"><img src="img/css3.png" title="CSS3" alt="CSS3"></a>
        <a target="_blank" href="http://nodejs.org/"><img src="img/nodejs.png" title="NodeJS" alt="NodeJS"></a>
        <a target="_blank" href="http://xmpp.org"><img src="img/XMPP.png" title="XMPP" alt="XMPP"></a>
        <a target="_blank" href="http://www.amqp.org/"><img src="img/amqp.png" title="AMQP" alt="AMQP"></a>
        <a target="_blank" href="http://aws.amazon.com/sqs/"><img src="img/amazonsqs.png" title="Amazon SQS" alt="Amazon SQS"></a>
    </div><!--things-->
    <!--<hr>-->
    <h2>Benefits</h2>
    <div class="marb6 clearfix">
        <div class="benefit">
            <img src="img/clock.png" alt="Flexible work hours">
            <h3>Flexible work hours</h3>
            <p>Identify the hours your most productive and work then. We want you to be happy doing the awesome stuff you do.</p>
        </div>
        <div class="benefit">
            <img src="img/remote-work.png" alt="Remote work">
            <h3>Remote work</h3>
            <p>Work from home, work from a coffee shop. We're cool with it. We're not too fond of the Mumbai traffic either.</p>
        </div>
        <div class="benefit">
            <img src="img/hardware.png" alt="Hardware of your choice">
            <h3>Hardware of your choice</h3>
            <p>To be insanely productive you need to work on the best systems. Macs, Linux or Windows we'll get you the machine you need.</p>
        </div>
        <div class="benefit">
            <img src="img/money.png" alt="Don't have to wait for a year for bonuses">
            <h3>Don't have to wait for a year for bonuses</h3>
            <p>You won't have to wait for the end of the year for appraisals and bonuses. If your awesome we'll let you know it immediately.</p>
        </div>

        <div class="benefit">
            <img src="img/conference.png" alt="Don't have to wait for a year for bonuses">
            <h3>Conferences </h3>
            <p>We'll sponsor your tickets for a tech conference of your choice in India </p>
        </div>

        <div class="benefit">
            <img src="img/conference.png" alt="Don't have to wait for a year for bonuses">
            <h3>Trainings</h3>
            <p>We'll ensure you have access to screencasts, books and training sessions when you need them.</p>
        </div>
    </div>
    <!--<hr>-->
    <h2 id="jobs">Available Jobs</h2>
    <div class="marb6 clearfix">
        <div class="jobs">
            <ol class="jobsList">
               <li><a href="#ror" class="selected">Ruby on Rails Developer</a></li>
               <li><a href="#fed">Front End Developer</a></li>
               <li><a href="#ba">Business Analyst</a></li>
            </ol>
        </div>
        <div id="ror" class="jobInfo clearfix">
            <h3>Ruby on Rails Developer</h3>
            <p>You would need to have:</p>
            <ul class="jobDescription">
                <li>A very good understanding of Ruby, Javascript</li>
                <li>Experience in building applications with Rails, Sinatra or Padrino.</li>
                <li>Experience in building front end features with Jquery.</li>
                <li>Experience with relational and non relational databases like Mysql, Postgres, Mongodb.</li>
                <li>Familiarity with Git.</li>
                <li>Familiarity with Redis, Memcache and Amazon S3</li>
            </ul>
            <p>Would be awesome if you have:</p>
            <ul class="jobDescription">
                <li>Familiar with message queues like Beanstalkd, RabbitMQ.</li>
                <li>Messaging protocols like XMPP.</li>
                <li>Building and maintaining distributed systems.</li>
                <li>Familiarity with one other language like C, Go, Java, Lisp</li>
            </ul>
            <a href="mailto:siddharth@idyllic-softwware.com"class="apply">APPLY FOR A JOB</a>
        </div>
    </div>
    <!--<hr>-->
    <h2>Address</h2>
    <div class="contact clearfix">
        <div class="address">
            <p>
                <strong>Idyllic Software</strong>,<br>
                304, Monte Rossa Building,<br>
                Same building as State Bank of India<br>
                Opposite Ganesh Mandir<br>
                90ft Road<br>
                Ghatkopar (East)
            </p>                        
        </div>
        <div class="map">
            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=mr&amp;geocode=&amp;q=monte+rossa+ghatkopar&amp;aq=&amp;sll=19.849394,73.696289&amp;sspn=9.136516,16.907959&amp;t=h&amp;ie=UTF8&amp;hq=monte+rossa&amp;hnear=Ghatkopar+West,+Mumbai+Suburban,+%E0%A4%AE%E0%A4%B9%E0%A4%BE%E0%A4%B0%E0%A4%BE%E0%A4%B7%E0%A5%8D%E0%A4%9F%E0%A5%8D%E0%A4%B0&amp;ll=19.080836,72.91171&amp;spn=0.002243,0.004128&amp;z=14&amp;iwloc=A&amp;cid=13288788734173415657&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=mr&amp;geocode=&amp;q=monte+rossa+ghatkopar&amp;aq=&amp;sll=19.849394,73.696289&amp;sspn=9.136516,16.907959&amp;t=h&amp;ie=UTF8&amp;hq=monte+rossa&amp;hnear=Ghatkopar+West,+Mumbai+Suburban,+%E0%A4%AE%E0%A4%B9%E0%A4%BE%E0%A4%B0%E0%A4%BE%E0%A4%B7%E0%A5%8D%E0%A4%9F%E0%A5%8D%E0%A4%B0&amp;ll=19.080836,72.91171&amp;spn=0.002243,0.004128&amp;z=14&amp;iwloc=A&amp;cid=13288788734173415657" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        </div>
    </div>
    </fieldset>
</div>
